.orderContent{
    display: flex;
}

.orderContentTitle{
    font-family: 'Roboto';
    font-style: normal;
    font-style: normal;
    font-size: 40px;
    line-height: 110%;
    color: #254F4C;
    padding-left: 100px;
}

.orderContentInput{
    padding-top: 100px;
    position: absolute;
    right: 580px;
    top: 150px;
}

.contentInput{
    border: 1px solid #d2d2d7;
    padding: 15px 230px 15px 15px;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 8px;
    margin-right: 5px;
    font-size: 15px;
    opacity: 80%;
}

.contentInput:hover{
    transition: 0.3s;
    box-shadow: 2px 2px 2px 2px #ebf1fa;
}

.productContent h3{
    font-family: 'Roboto';
    font-style: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 110%;
    color: #254F4C;
    padding-left: 100px;
}

.productContent{
    position: relative;
    top: 250px;
    right: 480px;
}

.productTitle{
    display: flex;
    justify-content: center;
}

.productTitle p{
    padding-right: 80px;
    padding-left: 130px;
    color: #254F4C;
    font-size: 18px;
}

.Line{
    color: #3B7976;
    width: 950px;
    border: 1px solid #3B7976;
    background-color: #3B7976;
}

.productOrder{
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: #254F4C;
    position: relative;
    right: 150px;
}

.productOrderImg{
    width: 100px;
    padding-left: 250px;
}

.productOrder span{
    padding-top: 20px;
    color:  #FF583E;
    font-size: 30px;
    padding-left: 30px;
}

.productOrder p{
    position: relative;
    left: 210px;
    padding-top: 10px;
}

.productOrderTotal{
    padding-left: 150px;
    position: relative;
    bottom: 12px;
}

.productOrderBtn{
    border: none;
    background-color: transparent;
    color:  #FF583E;
    font-size: 30px;
    padding-left: 217px;
}

.productOrder b{
    color: #254F4C;
    font-size: 25px;
    position: relative;
    bottom: 2px;
}

.productOrderClose {
    font-size: 25px;
    border: none;
    background-color: transparent;
    color:  #FF583E;
    position: relative;
    right: 30px;
    top: 5px;
}

.confirmOrder{
    width: 300px;
    background-color: #EBF1FA;
    height: 500px;
    padding: 25px;
    position: absolute;
    right: 100px;
    border-radius: 5px;
}

.confirmOrderTitle{
    font-family: 'Roboto';
    font-style: normal;
    font-style: normal;
    font-size: 24px;
    color: #254F4C;
}

.confirmOrder input{
    border: 1px solid #d2d2d7;
    padding: 15px 40px 15px 15px;
    border-radius: 5px;
    margin-top: 8px;
    margin-right: 5px;
    font-size: 15px;
    opacity: 80%;
}

.confirmOrderTotal{
    font-family: 'Roboto';
    font-style: normal;
    font-style: normal;
    font-size: 22px;
    color: #254F4C;
}

.confirmOrderProduct{
    font-family: 'Roboto';
    font-style: normal;
    font-style: normal;
    font-size: 18px;
    color: #254F4C;
}

.confirmOrderPay{
    font-family: 'Roboto';
    font-style: normal;
    font-style: normal;
    font-size: 18px;
    color: #254F4C;
}

.confirmOrder span{
    font-family: 'Roboto';
    font-style: normal;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #2B4241;
    position: relative;
    bottom: 50px;
    left: 220px;
}

.confirmOrderBtn{
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    background: #5E8BCE;
    border-radius: 3px;
    border: none;
    width: 300px;
    height: 40px;
    transition: 0.3s;
    padding: 10px;
    position: relative;
    bottom: 20px;
}

.confirmOrderBtn:hover{
    transition: 0.3s;
    height: 45px;
    font-size: 26px;
    width: 310px;
    border-radius: 10px;
    background-color: #427ed7;
}

.confirmOrderText{
    font-family: 'Roboto';
    font-style: normal;
}

.link{
    font-family: 'Roboto';
    font-style: normal;
    color: #5E8BCE;
    transition: 0.3s;
    text-decoration: none;
}

.link:hover{
    transition: 0.3s;
    color: #5E8BCE;
    text-decoration: underline;
}

.delivery{
    padding-top: 280px;
    padding-left: 80px;
}

.delivery h3{
    font-family: 'Roboto';
    font-style: normal;
    font-style: normal;
    font-size: 24px;
    color: #254F4C;
}

.deliveryLabel{
    border: 1px solid #d2d2d7;
    padding: 15px 230px 15px 15px;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 8px;
    margin-right: 5px;
    opacity: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-style: normal;
    font-size: 16px;
    color: #000;
}

.deliveryLabel:hover{
    transition: 0.3s;
    box-shadow: 2px 2px 2px 2px #ebf1fa;
}

.delivery select{
    border: 1px solid #d2d2d7;
    padding: 15px 233px 15px 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 5px;
    opacity: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    color: #000;
}

.delivery input{
    border: 1px solid #d2d2d7;
    padding: 15px 233px 15px 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 5px;
    opacity: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    color: #000;
}

.payment{
    padding-left: 80px;
}

.payment h3{
    font-family: 'Roboto';
    font-style: normal;
    font-style: normal;
    font-size: 24px;
    color: #254F4C;
}

.paymentLabel{
    border: 1px solid #d2d2d7;
    padding: 15px 100px 15px 15px;
    border-radius: 5px;
    transition: 0.3s;
    margin-right: 5px;
    opacity: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    color: #000;
}

.paymentLabel:hover{
    transition: 0.3s;
    box-shadow: 2px 2px 2px 2px #ebf1fa;
}

.paymentLabel2{
    border: 1px solid #d2d2d7;
    padding: 15px 100px 15px 15px;
    border-radius: 5px;
    transition: 0.3s;
    margin-right: 5px;
    position: relative;
    top: 38px;
    opacity: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-style: normal;
    font-size: 16px;
    color: #000;
}

.paymentLabel2:hover{
    transition: 0.3s;
    box-shadow: 2px 2px 2px 2px #ebf1fa;
}

.comment{
    padding-top: 80px;
    padding-left: 80px;
}

.comment h3{
    font-family: 'Roboto';
    font-style: normal;
    font-style: normal;
    font-size: 24px;
    color: #254F4C;
}

.commentText{
    border: 1px solid #D2D2D7;
    border-radius: 5px;
    height: 40px;
    padding: 25px 1000px 25px 25px;
}